In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [3]:
train = pd.read_csv("D:\\APP\\NITW\\Machine Learning\\Assignment-5\\Problem-3\\Titanic_train.csv")

In [5]:
train.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,463,0,1,"Gee, Mr. Arthur H",male,47.0,0,0,111320,38.5000,E63,S
1,1,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
2,3,415,1,3,"Sundman, Mr. Johan Julian",male,44.0,0,0,STON/O 2. 3101269,7.9250,NaN,S
3,4,480,1,3,"Hirvonen, Miss. Hildur E",female,2.0,0,1,3101298,12.2875,NaN,S
4,5,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.0,1,0,11753,52.5542,D19,S

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781 entries, 0 to 780
Data columns (total 13 columns):
Unnamed: 0     781 non-null int64
PassengerId    781 non-null int64
Survived       781 non-null int64
Pclass         781 non-null int64
Name           781 non-null object
Sex            781 non-null object
Age            628 non-null float64
SibSp          781 non-null int64
Parch          781 non-null int64
Ticket         781 non-null object
Fare           781 non-null float64
Cabin          175 non-null object
Embarked       779 non-null object
dtypes: float64(2), int64(6), object(5)
memory usage: 79.4+ KB

In [9]:
train.describe()

,Unnamed: 0,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,781.000000,781.000000,781.000000,781.000000,628.000000,781.000000,781.000000,781.000000
mean,441.404609,445.335467,0.371319,2.309859,29.603376,0.503201,0.362356,30.312072
std,256.107965,257.978890,0.483467,0.835904,14.427135,1.052008,0.796187,43.012711
min,0.000000,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,219.000000,221.000000,0.000000,2.000000,20.000000,0.000000,0.000000,7.895800
50%,442.000000,443.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.108300
75%,664.000000,671.000000,1.000000,3.000000,38.000000,1.000000,0.000000,30.500000
max,880.000000,891.000000,1.000000,3.000000,74.000000,8.000000,6.000000,512.329200

In [40]:
train.isnull().any()

Unnamed: 0      False
PassengerId     False
Survived        False
Pclass          False
Name            False
Sex             False
Age              True
SibSp           False
Parch           False
Ticket          False
Fare            False
Cabin            True
Embarked         True
AdultOrChild    False
dtype: bool

In [14]:
train['AdultOrChild'] = np.where(train['Age'] >= 18, 'Adult', 'Child')

In [19]:
total_survived = train[train.Survived==1].shape

In [22]:
print(total_survived[0])

290

In [56]:
#Defining features and target variable
y = train['Age'].notnull() #target variable we want to predict 
X = train.drop(columns = ['Age', 'Name', 'Sex', 'AdultOrChild', 'Ticket', 'Cabin', 'Embarked', 'Fare', 'Unnamed: 0'])

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [58]:
lr = LogisticRegression()

In [60]:
lr.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [62]:
y_pred = lr.predict(X_test)

In [66]:
#extracting true_positives, false_positives, true_negatives, false_negatives
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

In [68]:
print("True Negatives: ",tn)
print("False Positives: ",fp)
print("False Negatives: ",fn)
print("True Positives: ",tp)

True Negatives:  0
False Positives:  42
False Negatives:  0
True Positives:  154

In [79]:
sum_of_cm_elements = tn+fp+fn+tp;
print(sum_of_cm_elements)

196

In [72]:
accuracy = ((tn + tp) * 100) / (tn+fp+fn+tp)

In [78]:
print("Accuracy: ", round(accuracy, 2))

Accuracy:  78.57

In [81]:
# Creating a list of the answer
result=[total_survived[0], sum_of_cm_elements, round(accuracy, 2)]

In [83]:
# Finally create a dataframe of the final output  and write the output to output.csv
result=pd.DataFrame(result)

In [84]:
# writing output to output.csv
result.to_csv('D:\\APP\\NITW\\Machine Learning\\Assignment-5\\Problem-3\\output.csv', header=False, index=False)