In [60]:
import numpy as np
from sklearn import linear_model
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import csv

In [4]:
df = pd.read_csv("D:\\APP\\NITW\\Predictive Analysis\\Assignment-4\\Problem4\\mtcars.csv")

In [6]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [63]:
df.isnull().any()

model    False
mpg      False
cyl      False
disp     False
hp       False
drat     False
wt       False
qsec     False
vs       False
am       False
gear     False
carb     False
dtype: bool

In [11]:
#df_notNull = df.fillna(df.mean())

In [13]:
#X = df_notNull[['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']]

In [65]:
X = df.drop(['model', 'mpg'], axis=1)

In [20]:
X.head()

   cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [64]:
y = df[['mpg']]

In [25]:
y.head()

    mpg
0  21.0
1  21.0
2  22.8
3  21.4
4  18.7

In [66]:
rr = linear_model.Ridge(alpha=1)

In [67]:
lasso = linear_model.Lasso(alpha=1)

In [68]:
no_of_splits = 10
kf = KFold(n_splits = no_of_splits)
kf.get_n_splits(X)
print(kf)

KFold(n_splits=10, random_state=None, shuffle=False)

In [69]:
rr_scores = cross_val_score(rr, X, y, cv=10)

In [70]:
print("Ridge scores: ", rr_scores)

Ridge scores:  [-11.92958659   0.76343372  -1.48464671  -5.60897544  -1.68621967
 -23.0139344   -0.12390213   0.86870249   0.54912748  -0.71457497]

In [71]:
lasso_scores = cross_val_score(lasso, X, y, cv=10)

In [45]:
print("Lasso scores: ", lasso_scores)

Lasso scores:  [ -8.42901101   0.56320179  -2.38996515  -4.60600589   0.06686483
 -25.27757952  -0.12981153   0.66802551   0.58391805   0.08680842]

In [72]:
mean_rr_score = rr_scores.mean()

In [73]:
mean_lasso_score = lasso_scores.mean()

In [74]:
diff_mean_score = mean_lasso_score - mean_rr_score

In [75]:
print(diff_mean_score)

0.3517021737063226

In [77]:
with open("D:\\APP\\NITW\\Predictive Analysis\\Assignment-4\\Problem4\\output.csv", "w") as out:
    writer = csv.writer(out, delimiter=",")
    writer.writerow([round(diff_mean_score, 2)])