In [1]:
review_1 = 'The movie was good and we really liked it'
review_2 = 'the movie was good but the ending was boring'
review_3 = 'we did not like the movie as it was too lengthy'

In [2]:
import pandas as pd
import numpy as np
import nltk
from nltk import word_tokenize

In [3]:
review_1_tokens = word_tokenize(review_1)
review_2_tokens = word_tokenize(review_2)
review_3_tokens = word_tokenize(review_3)

In [4]:
set(review_2_tokens)

{'boring', 'but', 'ending', 'good', 'movie', 'the', 'was'}

In [5]:
review_tokens = set(review_1_tokens).union(set(review_2_tokens)).union(set(review_3_tokens))

In [6]:
len(review_tokens)

19

In [7]:
review_tokens

{'The',
 'and',
 'as',
 'boring',
 'but',
 'did',
 'ending',
 'good',
 'it',
 'lengthy',
 'like',
 'liked',
 'movie',
 'not',
 'really',
 'the',
 'too',
 'was',
 'we'}

In [8]:
review1_dict = dict.fromkeys(review_tokens,0)

In [9]:
review1_dict

{'was': 0,
 'good': 0,
 'not': 0,
 'and': 0,
 'really': 0,
 'it': 0,
 'ending': 0,
 'liked': 0,
 'movie': 0,
 'lengthy': 0,
 'the': 0,
 'like': 0,
 'The': 0,
 'but': 0,
 'did': 0,
 'as': 0,
 'too': 0,
 'we': 0,
 'boring': 0}

In [10]:
review1_dict = dict.fromkeys(review_tokens,0)
review2_dict = dict.fromkeys(review_tokens,0)
review3_dict = dict.fromkeys(review_tokens,0)

In [11]:
for token in review_1_tokens:
    review1_dict[token]+=1

In [12]:
review2_dict

{'was': 0,
 'good': 0,
 'not': 0,
 'and': 0,
 'really': 0,
 'it': 0,
 'ending': 0,
 'liked': 0,
 'movie': 0,
 'lengthy': 0,
 'the': 0,
 'like': 0,
 'The': 0,
 'but': 0,
 'did': 0,
 'as': 0,
 'too': 0,
 'we': 0,
 'boring': 0}

In [13]:
for token in review_2_tokens:
    review2_dict[token]+=1
    
for token in review_3_tokens:
    review3_dict[token]+=1

In [14]:
reviews_Dict_DF = pd.DataFrame([review1_dict,review2_dict,review3_dict])

In [15]:
reviews_Dict_DF

,The,and,as,boring,but,did,ending,good,it,lengthy,like,liked,movie,not,really,the,too,was,we
0,1,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,1,1
1,0,0,0,1,1,0,1,1,0,0,0,0,1,0,0,2,0,2,0
2,0,0,1,0,0,1,0,0,1,1,1,0,1,1,0,1,1,1,1

In [44]:
df = reviews_Dict_DF
df.iloc[0].sum()

9

In [42]:
print (review_1)
print (review_2)
print (review_3)

The movie was good and we really like it
the movie was good but the ending was boring
we did not like the movie as it was too lengthy

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [90]:
review_list = [review_1,review_2,review_3]

In [25]:
review_list

['The movie was good and we really liked it',
 'the movie was good but the ending was boring',
 'we did not like the movie as it was too lengthy']

In [26]:
count_vect = CountVectorizer()

In [27]:
X_counts = count_vect.fit_transform(review_list)

In [28]:
type(X_counts)

scipy.sparse.csr.csr_matrix

In [30]:
X_names = count_vect.get_feature_names()
len(X_names)

18

In [31]:
a = pd.DataFrame(X_counts.toarray(),columns=X_names)
a

,and,as,boring,but,did,ending,good,it,lengthy,like,liked,movie,not,really,the,too,was,we
0,1,0,0,0,0,0,1,1,0,0,1,1,0,1,1,0,1,1
1,0,0,1,1,0,1,1,0,0,0,0,1,0,0,2,0,2,0
2,0,1,0,0,1,0,0,1,1,1,0,1,1,0,1,1,1,1

In [89]:
tf = (5/len(review_3_tokens))
idf = np.log(3/2)
tf*idf

0.18430232186734744

In [46]:
len(review_3_tokens)

11

In [47]:
idf = np.log(3/1) #lengthy

In [48]:
tf*idf

0.09987384442437362

In [91]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [111]:
tf_vect = TfidfVectorizer(min_df=1,lowercase=True,stop_words=setstop)

In [110]:
setstop = ['the','and','is']
setstop

['the', 'and', 'is']

In [112]:
tf_matrix = tf_vect.fit_transform(review_list)

In [113]:
type(tf_matrix)

scipy.sparse.csr.csr_matrix

In [114]:
tf_matrix.shape

(3, 16)

In [115]:
tf_names = tf_vect.get_feature_names()

In [116]:
tf_names

['as',
 'boring',
 'but',
 'did',
 'ending',
 'good',
 'it',
 'lengthy',
 'like',
 'liked',
 'movie',
 'not',
 'really',
 'too',
 'was',
 'we']

In [117]:
tf_df = pd.DataFrame(tf_matrix.toarray(),columns=tf_names)

In [118]:
tf_df

,as,boring,but,did,ending,good,it,lengthy,like,liked,movie,not,really,too,was,we
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.361220,0.361220,0.000000,0.000000,0.474961,0.280520,0.000000,0.474961,0.000000,0.280520,0.361220
1,0.000000,0.433452,0.433452,0.000000,0.433452,0.329651,0.000000,0.000000,0.000000,0.000000,0.256004,0.000000,0.000000,0.000000,0.512007,0.000000
2,0.356814,0.000000,0.000000,0.356814,0.000000,0.000000,0.271366,0.356814,0.356814,0.000000,0.210740,0.356814,0.000000,0.356814,0.210740,0.271366