In [6]:
import numpy as np
import pandas as pd
import csv

In [7]:
df = pd.read_csv("D:\\APP\\NITW\\Predictive Analysis\\Assignment-1\\Problem2\\blackfriday.csv",sep=",")

In [5]:
df.head()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
0,1000001,F,0-17,10.0,A,2,0,8370
1,1000001,F,0-17,10.0,A,2,0,15200
2,1000001,F,0-17,10.0,A,2,0,1422
3,1000001,F,0-17,10.0,A,2,0,1057
4,1000003,M,26-35,15.0,A,3,0,15227

In [14]:
print(round(df['Purchase'].mean(), 2))

9281.19

In [16]:
print(round(df['Purchase'].median(), 1))

8057.5

In [17]:
print(df['Purchase'].mode())

0    6884
1    7187
dtype: int64

In [29]:
from scipy import stats

In [30]:
modeList = stats.mode(df['Purchase'])
for val in modeList:
    print(val)

[6884]
[7]

In [35]:
with open("D:\\APP\\NITW\\Predictive Analysis\\Assignment-1\\Problem2\\output.csv", "w") as out:
    wtr = csv.writer(out, delimiter=",")
    wtr.writerow([str(round(df['Purchase'].mean(), 2))])
    wtr.writerow([str(round(df['Purchase'].median(), 1))])
    #modeList = stats.mode(df['Purchase'])
    modeList = df['Purchase'].mode()
    for val in modeList:
        wtr.writerow([str(val)])