In [22]:
import numpy as np
import pandas as pd
import csv

In [3]:
df = pd.read_csv("D:\\APP\\NITW\\Predictive Analysis\\Assignment-1\\Problem1\\blackfriday.csv",sep=",")

In [4]:
df.head()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
0,1000001,F,0-17,10.0,A,2,0,8370
1,1000001,F,0-17,10.0,A,2,0,15200
2,1000001,F,0-17,10.0,A,2,0,1422
3,1000001,F,0-17,10.0,A,2,0,1057
4,1000003,M,26-35,15.0,A,3,0,15227

In [7]:
print(df.isnull().sum())

User_ID                       0
Gender                        0
Age                           0
Occupation                    2
City_Category                 0
Stay_In_Current_City_Years    2
Marital_Status                0
Purchase                      0
dtype: int64

In [31]:
nullList = df.columns[df.isnull().any()]

In [32]:
print(len(nullList))

2

In [19]:
print(nullList)

Index(['Occupation', 'Stay_In_Current_City_Years'], dtype='object')

In [51]:
with open("D:\\APP\\NITW\\Predictive Analysis\\Assignment-1\\Problem1\\output.csv", "w") as out:
    wtr = csv.writer(out, delimiter=",")
    wtr.writerow('%d' % len(nullList))
    for col in nullList:
        wtr.writerow([col])

In [20]:
for col in nullList:
    print(col)

Occupation
Stay_In_Current_City_Years