In [11]:
import numpy as np
from sklearn import linear_model
import pandas as pd
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt

In [66]:
import scipy as sp
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
import csv

In [5]:
df = pd.read_csv("D:\\APP\\NITW\\Predictive Analysis\\Test\\Problem2\\wages.csv")

In [7]:
df.describe()

              year          age      logwage         wage
count  3000.000000  3000.000000  3000.000000  3000.000000
mean   2005.791000    42.414667     4.653905   111.703608
std       2.026167    11.542406     0.351753    41.728595
min    2003.000000    18.000000     3.000000    20.085537
25%    2004.000000    33.750000     4.447158    85.383940
50%    2006.000000    42.000000     4.653213   104.921506
75%    2008.000000    51.000000     4.857332   128.680488
max    2009.000000    80.000000     5.763128   318.342430

In [9]:
df.isnull().any()

year          False
age           False
sex           False
maritl        False
race          False
education     False
region        False
jobclass      False
health        False
health_ins    False
logwage       False
wage          False
dtype: bool

In [15]:
X = df[['age']]

In [21]:
X.head()

   age
0   18
1   24
2   45
3   43
4   50

In [16]:
y = df[['wage']]

In [19]:
poly_model_degree1 = PolynomialFeatures(degree=1)
X_poly1 = poly_model_degree1.fit_transform(X)
poly_model_degree1 = LinearRegression()
poly_model_degree1.fit(X_poly1, y)

In [53]:
poly_degree1_score = cross_val_score(poly_model_degree1, X_poly1, y, cv = 5)

In [37]:
print(poly_degree1_score.mean())

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [45]:
poly_model_degree2 = PolynomialFeatures(degree=2)
X_poly2 = poly_model_degree2.fit_transform(X)
poly_model_degree2 = LinearRegression()
poly_model_degree2.fit(X_poly2, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [52]:
poly_degree2_score = cross_val_score(poly_model_degree2, X_poly2, y, cv = 5)

In [48]:
print(poly_degree2_score.mean())

0.08024722002059423

In [51]:
poly_model_degree3 = PolynomialFeatures(degree=3)
X_poly3 = poly_model_degree3.fit_transform(X)
poly_model_degree3 = LinearRegression()
poly_model_degree3.fit(X_poly3, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [54]:
poly_degree3_score = cross_val_score(poly_model_degree3, X_poly3, y, cv = 5)

In [56]:
print(poly_degree3_score.mean())

0.08312462933916424

In [59]:
poly_model_degree4 = PolynomialFeatures(degree=4)
X_poly4 = poly_model_degree4.fit_transform(X)
poly_model_degree4 = LinearRegression()
poly_model_degree4.fit(X_poly4, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [61]:
poly_degree4_score = cross_val_score(poly_model_degree4, X_poly4, y, cv = 5)

In [68]:
print(round(poly_degree4_score.mean(), 4))

0.0836

In [67]:
with open("D:\\APP\\NITW\\Predictive Analysis\\Test\\Problem2\\output.csv", "w") as out:
    writer = csv.writer(out, delimiter=",")
    writer.writerow([poly_degree1_score.mean()])
    writer.writerow([poly_degree2_score.mean()])
    writer.writerow([poly_degree3_score.mean()])
    writer.writerow([poly_degree4_score.mean()])